html {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

header {
    display: grid;
    place-items: center;
    text-align: center;
}

.header-description {
    width: 30%;
    text-align: center;
    color: hsl(229, 6%, 66%);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    align-content: center;
    margin: 45px 17%;
}

section {
    padding: 10px;
}

.supervisor {
    height: 250px;
    width: 350px;
    background-color: white;
    padding: 5px 20px;
    border-top: solid 4px hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.team-builder {
    height: 250px;
    width: 350px;
    background-color: white;
    padding: 5px 20px;
    border-top: solid 4px hsl(0, 78%, 62%);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.karma {
    height: 250px;
    width: 350px;
    background-color: white;
    padding: 5px 20px;
    border-top: solid 4px hsl(34, 97%, 64%);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.calculator {
    height: 250px;
    width: 350px;
    background-color: white;
    padding: 5px 20px;
    border-top: solid 4px hsl(212, 86%, 64%);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card-description {
    width: 100%;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.pic {
    margin-top: 40px;
    text-align: right;
}

h1 {
    font-weight: 200;
}

span {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

h2 {
    color: hsl(234, 12%, 34%);
}

@media screen and (max-width: 375px) {
    main {
        display: flex;
        flex-direction: column;
    }
}